.sidebar {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 100vh;
  background: #000;
  border-right: 1px solid rgb(81, 67, 67);
}

.categoryBtn {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  color: white;
  transition: ease 200ms;

  .icon {
    color: red;
    margin-right: 15px;
    transition: ease 200ms;
  }
}

.categoryName {
  color: white;
  font-size: 30px;
}
