html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* .videos {
  display: flex;
  gap: 2rem;
  justify-content: center; // Y axis alignment
  align-items: flex-start; //       X-axis alignment
  flex-flow: row wrap; //           flex-direction + flex-wrap
  align-content: flex-start; //     aligns the rows
  margin: 10px 15px;
} */
